node_modules/
packages/**/*/build/
cache/
.env

# Teraform
.terraform/
*.out
*.state

# Swagger
packages/api/infrastructure/api-gateway/swagger/tf_swagger.yaml
packages/api/infrastructure/api-gateway/swagger/tmp_merge.yaml